@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: "open sans" sans-serif; 
}


html {
    font-size: 14px; /* 1rem verdi i mobil versjon */
}
 


section {
    height: 100vh;
    font-family: "open sans" sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: top;
}


h1 {
    margin-top: 150px;
    font-family: "roboto";
    font-size: 25px;

}





h2 {
   font-family: "roboto";
   font-style: italic;
   font-weight: 100; 
   font-size: 19px; 
   justify-content: center;
   margin-top: 300px;
   position: absolute;
   align-items: center;
   margin: auto auto;
   margin-top: 300px;
   text-align: center;
   width: 700px;


}
.background_image {
    position: absolute;
    justify-content: center;
    align-items: center;
    background: no-repeat;
    width: 100%;
}

.hero {
    width: 100%;
    height: 100vh;
    justify-content: 100%;
    align-items: 100%;
    background-color: aqua;
}

.hero > .soundwave {
    align-items: center;
    justify-content: center;
    max-width: 50vw;
    max-height: 20vh;
    width: auto;
    justify-content: center;
    -webkit-filter: drop-shadow(15px 15px 15px #222);
  filter: drop-shadow(15px 15px 15px #222);    
}






.kart {
    align-items: center;
    height: 475px;
    width: 500px;
    margin-left: 800px;
    margin-top: 1607px;
    right: 15%;
    border-radius: 32px;
}





.four {
    background-color: rgb(28, 30, 32);
}






    






body {

}








/* NAVIGATION BAR */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 5vh 10vw;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    color: white;
    z-index: 9999;
}
header > nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header > nav > .hamburger_menu {
    display: none;
}
li, a, button {
    font-family: "open sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    cursor: pointer;
    margin-right: auto;
    
}
.nav__links {
    list-style: none;
    text-transform: uppercase;
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: rgb(1, 51, 90); 
}
button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(3, 85, 147);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-transform: uppercase
}
button:hover {
    background-color: rgb(0, 104, 183, 0.7); 
}

/* HERO SECTION */

.background_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: fit-content;
}
.background_image > .background {
    justify-content: center;
    align-items: center;
    position: sticky;
    width:100%;
    height: fit-content;
}
.background_image > .soundwave {
    justify-content: center;
    align-items: center;
}







.contact-box{
    width: 500px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    margin-top: 1570px;
    left: 30%;
    font-family: "open sans" sans-serif;
    border-radius: 32px;
}





form {
    margin: 35px;
}





.input-field {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}





.textarea-field {
    height: 150px;
    padding-top: 10px;
    font-family: "open sans" sans-serif;

}





.btn {
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: rgb(0, 104, 183);
    font-size: 12px;
    font-family: "open sans" sans-serif;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px;) {

header > nav > ul {
    display: none;
}
header > nav > .hamburger_menu {
    display: flex;
    max-width: 2vw;
}
}

