.contact-box{
    width: 500px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    margin-top: 1570px;
    left: 30%;
    font-family: "open sans" sans-serif;
    border-radius: 32px;
}

form {
    margin: 35px;
}
.input-field {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field {
    height: 150px;
    padding-top: 10px;
    font-family: "open sans" sans-serif;
}





.btn {
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: rgb(0, 104, 183);
    font-size: 12px;
    font-family: "open sans" sans-serif;
    border: none;
    cursor: pointer;
}